<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Patients Inquiry's</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dashboard-container">
    <div class="section-title">Review Intake Forms</div>
    <ion-list class="custom-list">
      <ion-item lines="none">
        <ion-avatar slot="start" class="icon-avatar">
          <i class="fa-regular fa-file-lines"></i>
        </ion-avatar>
        <ion-label>
          <div class="item-title">Intake Form - Sarah Miller</div>
          <div class="item-subtitle">Submitted 2 days ago</div>
        </ion-label>
      
      </ion-item>
     
      
      <ion-item lines="none">
        <ion-avatar slot="start" class="icon-avatar">
          <i class="fa-regular fa-file-lines"></i>
        </ion-avatar>
        <ion-label>
          <div class="item-title">Intake Form - David Chen</div>
          <div class="item-subtitle">Submitted 3 days ago</div>
        </ion-label>
      </ion-item>
    </ion-list>

    <div class="section-title">New Patient Inquiries</div>
    <ion-list class="custom-list">
      <ion-item lines="none">
        <ion-avatar slot="start" class="icon-avatar">
          <i class="fa-regular fa-comment-dots"></i>
        </ion-avatar>
        <ion-label>
          <div class="item-title">Inquiry - Emily Carter</div>
          <div class="item-subtitle">Inquired 1 day ago</div>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-avatar slot="start" class="icon-avatar">
          <i class="fa-regular fa-comment-dots"></i>
        </ion-avatar>
        <ion-label>
          <div class="item-title">Inquiry - Michael Lee</div>
          <div class="item-subtitle">Inquired 2 days ago</div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content> 