.pending-icon {
  background: #ededed;
  border-radius: 10px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.pending-icon i {
  font-size: 1rem;
  color: #141414;
  font-weight: 100;
  /* Use regular style for thinner icons */
}
.pending-title {
  font-weight: 500;
  font-size: 1rem;
font-family: 'Poppins', 'Noto Sans', sans-serif !important;
  color: #141414;
}
.pending-subtitle {
  font-size: 0.95rem;
  color: #888;font-family: 'Poppins', 'Noto Sans', sans-serif !important;
  font-weight: 400;
}
.chevron-right {
  font-size: 1.2rem;
  color: #141414;
  margin-left: auto;
}
ion-item {
  margin-bottom: 0.7rem;
  border-radius: 14px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-title {
  font-weight: 700;
  font-size: 1rem;
  font-family: 'Manrope', 'Noto Sans', sans-serif !important;
  color: #141414;
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1rem;
  margin-top: 1rem;
}