<div class="section-title">Patient Search & Quick Access</div>
<ion-searchbar class="no-padding" placeholder="Search for patients"></ion-searchbar>
<ion-list class="custom-list">
  <ion-item  lines="none">
    <div class="search-icon" slot="start">
      <i class="fa-regular fa-user"></i>
    </div>
    <ion-label>Patient Records</ion-label>
 <i class="fa-solid fa-chevron-right" slot="end"></i>
  </ion-item>
  <ion-item  lines="none">
    <div class="search-icon" slot="start">
     <i class="fa-solid fa-user-group"></i>
    </div>
    <ion-label>Quick Add Patient</ion-label>
 <i class="fa-solid fa-chevron-right" slot="end"></i>
  </ion-item>
</ion-list>
