<div class="section-title">Patient Search & Quick Access</div>
<ion-searchbar placeholder="Search for patients"></ion-searchbar>
<ion-list class="custom-list">
  <ion-item button lines="none">
    <div class="search-icon" slot="start">
      <ion-icon name="people-outline"></ion-icon>
    </div>
    <ion-label>Patient Records</ion-label>
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>
  <ion-item button lines="none">
    <div class="search-icon" slot="start">
      <ion-icon name="person-add-outline"></ion-icon>
    </div>
    <ion-label>Quick Add Patient</ion-label>
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>
</ion-list>
