<div class="section-title">Recent Activity Feed</div>
<ion-list class="custom-list">
  <ion-item *ngFor="let activity of activities" lines="none">
   <div class="d-flex gap-1 align-items-center">
    <div class="activity-icon" slot="start">
      <i [ngClass]="activity.icon"></i>
    </div>
    <ion-label>
      <div class="activity-title">{{ activity.title }}</div>
      <div class="activity-subtitle">{{ activity.subtitle }}</div>
    </ion-label>
    </div>
    <ion-note slot="end">{{ activity.time }}</ion-note>
  </ion-item>
</ion-list>
